body {
    background-color: #E0473D;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    padding: 20px;
}

.image {
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}